* {
  margin: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: rgb(16, 45, 70);
    color: whitesmoke;
}

.navlinks {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

/* footer{ 
    display: flex;
    justify-content: center;
    position: fixed;
    font-size: 20px;
    left: 0;
    bottom: 1%;
    width: 100%;
    max-height: 10vh;
    color: Black;
    text-align: center;
}

.footer{
    margin-right: 0.5rem;
} */

a:visited{
  color: white;
}

a:link{
    color: white;
}

.products {
    width: 300px;
    height: 300px;
}

.shopContainer{

}

.catalogmenu{
    background-color: purple;
    list-style: none;
    min-height: 100%;
    width: 200px;
}

.catalog{
    display: flex;
}

.shopContainer {
    display: flex;
    flex-direction: column;
}

.shirts{
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 35%;
}

.sweatshirts{
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.sweatpants{
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.accessories{
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

html, body {
  height: 100%;
}

.wrapper {
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  min-height: calc(100% + 142px);
  margin-bottom: -142px;
}

.wrapper:after {
  display: block;
  content: "";
  height: 142px;
}

.footer {
  background-color: white;
  opacity: 0.5;
  height: 142px;
  text-align: center;
}