@import url(Fonts.css);

* {
  margin: 0;
}

html, body {
    font-family: 'Roboto', sans-serif;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: rgb(16, 45, 70);
    color: whitesmoke;
    font-size: 1.25vw;
}

.navlinks {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

#homepage{
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 1vw;
    border: 5px navy solid;
    border-radius: 10px;
    width: min-content;
    left: 50%;
    margin-left: -450px;
}

#hometitle{
    position: absolute;
    top: 10%;
    color: goldenrod;
    font-family: 'Raleway', sans-serif;
    font-size: 2vw;
    font-weight: bolder;
    text-shadow: 2px 2px navy;
}

#stadium{
}

img{
    cursor: pointer;
}

.cart {
    width: 2vw;
    height: 2vw;
}


/* footer{ 
    display: flex;
    justify-content: center;
    position: fixed;
    font-size: 20px;
    left: 0;
    bottom: 1%;
    width: 100%;
    max-height: 10vh;
    color: Black;
    text-align: center;
}

.footer{
    margin-right: 0.5rem;
} */

a:visited{
  color: black;
}

a:link{
    color: white;
}

a:hover{
    cursor: pointer;
}




.shopContainer{

}

.catalogmenu{
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif !important;
    border-right: 1px solid black;
    background-image: linear-gradient(rgb(230, 230, 250), rgba(255,255,255));
    list-style: none;
    text-decoration: underline;
    min-height: 100%;
    min-width: 15vw;
}

.catalogtitle{
    margin-top: 5rem;
    width: max-content;
    color: black;
    font-weight: 800;
    font-size: 2.5vw;
}

.catalogmenu li{
    margin-top: 0.5rem;
    font-size: 1vw;
    width: max-content;
}

.catalog{
    display: flex;
}

.shopContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.labels {
    display: flex;
    color: rgb(16, 45, 70);
    flex-direction: column;
    font-size: 3.5vw;
    font-weight: 600;
}

label.underline{
    text-decoration: overline;
}

.product{
    margin-left: 5%;
    margin-top: 5%;
}

.imageContainer {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap !important;
}

.images {
    width: 20vw;
    height: 20vw;
}

html, body {
  height: 100%;
}

.wrapper {
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  min-height: calc(100% + 142px);
  margin-bottom: -142px;
}

.wrapper:after {
  content: "";
  height: 142px;
}

.footer {
  background-color: white;
  opacity: 0.5;
  text-align: center;
}